
/* FILE: mobile/assets/css/built.css */
#perfil-menu-img {
	border-radius: 50%;
}

#info-card-menu {
	padding-left: 15px;
}

#status-menu-card {
	font-size: 15px;
}

#name-menu-card {
	font-size: 18px;
}

#add-class-buttom {
	position: fixed !important;
}

img {
  height: auto;
  max-width: 100%;
}

#label-add-class {
	font-weight: bold;
	align-self: center;
	color: #ff4081;
}
