<div ng-controller="ClassesListController as classesCtrl">

	<!-- Sidenav menu -->
	<pp-sidenav></pp-sidenav>

	<!-- Toolbar -->
	<md-toolbar class="md-hue-2">
		<div class="md-toolbar-tools">
			<!-- Menu button -->
			<div ng-controller="SidenavController as sidenavCtrl">
				<md-button class="md-icon-button" aria-label="Menu" ng-click="sidenavCtrl.openSideMenu()">
					<md-icon md-svg-icon="assets/images/icons/ic_view_headline_white_24px.svg"></md-icon>
				</md-button>
			</div>
			<!-- Title -->
			<h2>
				<span>Lista de Disciplinas</span>
			</h2>
			<span flex=""></span>
		</div>
	</md-toolbar>
	<md-content class="md-padding groups-container" layout="column">
		<md-list flex>
			<md-list-item class="md-3-line" ng-repeat="class in classes" ng-click="classesCtrl.openClass(class)" aria-label="{{ group.name }}">
				<div class="md-list-item-text" layout="column">
					<h3 ng-bind="class.nome_materia"></h3>
					<h4 class="pp-subtitle" ng-bind="classesCtrl.groupCountMessage(class)"></h4>
					<md-divider></md-divider>
				</div>
			</md-list-item>

			<md-list-item class="md-3-line" ng-click="addNewClassClick()" aria-label="{{ group.name }}">
				<md-icon md-svg-icon="assets/images/icons/ic_border_color_black_24px.svg" class="md-primary md-hue-3"></md-icon>
				<div class="md-list-item-text" layout="column">
					<h3 id="label-add-class" ng-bind="addClassButtonLabel"></h3>
				</div>
			</md-list-item>
			<md-divider></md-divider>
		</md-list>

		<button id="add-class-buttom" ng-click="classesCtrl.addGroup()" class="md-fab md-fab-bottom-right md-button md-ink-ripple pp-fixed" type="button" aria-label="Add">
			<md-icon md-svg-icon="assets/images/icons/ic_camera_alt_white_24px.svg"></md-icon>
		</button>

	</md-content>
	

</div>
