<div ng-controller="ClassesListController as classesCtrl">

	<!-- Sidenav menu -->
	<pp-sidenav></pp-sidenav>

	<!-- Toolbar -->
	<md-toolbar class="md-hue-2">
		<div class="md-toolbar-tools">
			<!-- Menu button -->
			<div ng-controller="SidenavController as sidenavCtrl">
				<md-button class="md-icon-button" aria-label="Menu" ng-click="sidenavCtrl.openSideMenu()">
					<md-icon md-svg-icon="assets/images/icons/ic_view_headline_white_24px.svg"></md-icon>
				</md-button>
			</div>
			<!-- Title -->
			<h2>
				<span>Lista de Disciplinas</span>
			</h2>
			<span flex=""></span>
		</div>
	</md-toolbar>
	<md-content class="md-padding groups-container" layout="column">
		<md-list flex>
			<md-list-item class="md-3-line" ng-repeat="class in classes" ng-click="classesCtrl.openClass(class)" aria-label="{{ class.nome_categoria }}">
				<div class="md-list-item-text" layout="column">
					<h3 ng-bind="class.nome_materia"></h3>
					<p> {{ class.codigo_materia + "   " +class.turma+"  "+class.dia_semana + "   " + class.hora_inicial+"-"+class.hora_final}} </p>
					<md-divider></md-divider>
				  <md-progress-linear ng-show="{{shouldShow == class.id}}" md-mode="determinate" value="{{percent}}">

				  </md-progress-linear>
				</div>
			</md-list-item>

			<md-list-item class="md-3-line" ng-click="addNewClassClick()" aria-label="{{ class.nome_categoria }}">
				<md-icon md-svg-icon="assets/images/icons/ic_border_color_black_24px.svg" class="md-primary md-hue-3"></md-icon>
				<div class="md-list-item-text" layout="column">
					<h3 id="label-add-class" ng-bind="addClassButtonLabel"></h3>
				</div>
			</md-list-item>
			<md-divider></md-divider>
		</md-list>

		<input id="upload" type="file" accept="image/*;capture=camera" ng-hide="true" onchange="angular.element(this).scope().uploadPhoto(this)"/>
	    <label class="md-button md-fab md-fab-bottom-right" for="upload" ng-show="actual">
	        <md-icon>photo_camera</md-icon>
	    </label>
	</md-content>
</div>
