<div>
	<!-- Sidenav menu -->
	<pp-sidenav></pp-sidenav>

	<!-- Toolbar -->
	<md-toolbar class="md-hue-2">
		<div class="md-toolbar-tools">
			<div ng-controller="ClassesSelectController as selectCtrl">
				<md-button class="md-icon-button" aria-label="Menu" ng-click="selectCtrl.backToClassesList()">
					<md-icon md-svg-icon="assets/images/icons/ic_chevron_left_white_24px.svg"></md-icon>
				</md-button>
			</div>
			<h1 class="md-toolbar-tools">Editar Disciplinas Cadastradas</h1>
		</div>
	</md-toolbar>

	<classes-select></classes-select>
</div>