<pp-sidenav></pp-sidenav>
<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools">
    <div ng-controller="SidenavController as sidenavCtrl">
      <md-button class="md-icon-button" aria-label="Menu" ng-click="sidenavCtrl.openSideMenu()">
        <md-icon md-svg-icon="assets/images/icons/ic_view_headline_white_24px.svg"></md-icon>
      </md-button>
    </div>
    <h2>
      <span ng-bind="class.name"></span>
    </h2>
  </div>
</md-toolbar>

<div ng-controller="ClassController as menuCtrl" layout-fill>
  <md-content class="md-padding groups-container" layout="column" flex>
    <md-grid-list md-cols="4" md-row-height="1:1">
      <md-grid-tile ng-repeat="image in class.images">
        <img ng-src="{{image.url}}"/>
      </md-grid-tile>
    </md-grid-list>
  </md-content>
  <input id="upload" type="file" accept="image/*;capture=camera"
    ng-show="false"
    onchange="angular.element(this).scope().fileChanged(this)">
  <label class="md-button md-fab md-fab-bottom-right" for="upload">
    <md-icon>photo_camera</md-icon>
  </label>
</div>
