<pp-sidenav></pp-sidenav>
<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools">
    <div ng-controller="SidenavController as sidenavCtrl">
      <md-button class="md-icon-button" aria-label="Menu" ng-click="sidenavCtrl.openSideMenu()">
        <md-icon md-svg-icon="assets/images/icons/ic_view_headline_white_24px.svg"></md-icon>
      </md-button>
    </div>
    <h2>
      <span ng-bind="class.nome_materia"></span>
    </h2>
  </div>
</md-toolbar>

<div ng-controller="ClassController as menuCtrl" layout-fill>
  <md-content class="md-padding groups-container" layout="column" flex>
   <div class='md-button' layout='column' flex layout-align='end center' layout-padding ng-if="!class.images || class.images.length == 0">
     <p flex>Esta turma ainda não possui nenhuma foto</p>
   </div>
   <md-card ng-repeat="image in class.images" ng-click="gotoImage(image)">
      <img ng-src="{{image.url}}" class="md-card-image">
      <md-card-actions layout="row" layout-align="space-between center">
        <span>{{showDate(+image.id)}}</span>
        <span>{{image.owner.name}}</span>
      </md-card-actions>
    </md-card>
  </md-content>
  <!-- <md-content class="md-padding groups-container" layout="column" flex> -->
  <!--   <md-grid-list md-cols="4" md-cols-sm="1" md-row-height="1:1"> -->
  <!--     <md-grid-tile md-ink-ripple="#fff" ng-repeat="image in class.images" ng-click="gotoImage(image)"> -->
  <!--       <img ng-src="{{image.url}}"/> -->
  <!--     </md-grid-tile> -->
  <!--   </md-grid-list> -->
  <!-- </md-content> -->
  <input id="upload" type="file" accept="image/*;capture=camera"
    ng-show="false"
    onchange="angular.element(this).scope().fileChanged(this)">
  <label class="md-button md-fab md-fab-bottom-right add-class-button" for="upload">
    <md-icon class="not-clickable">photo_camera</md-icon>
  </label>
</div>
