<div ng-controller="LoginController as menuCtrl" id ="page-splash" layout-align="center">


	<div layout="column" id="content" role="main" ng-controller="LoginController as menuCtrl">
		<div layout="column" layout-align="center center" layout-fill>	
			<h1 id="logo-text">Class Pictures</h1>
			<br>
			<md-button class="md-raised md-hue-2 display-flex" ng-click="loginWithGoogleClick()">
				<md-icon md-svg-icon="assets/images/icons/google.svg" id="google-svg"></md-icon>
				<h1 id='google-login-font'>Entrar com a conta google</h1>
			</md-button>
		</div>
	</div>

</div>