<pp-sidenav></pp-sidenav>
<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools">
    <div ng-controller="SidenavController as sidenavCtrl">
      <md-button class="md-icon-button" aria-label="Menu" ng-click="sidenavCtrl.openSideMenu()">
        <md-icon md-svg-icon="assets/images/icons/ic_view_headline_white_24px.svg"></md-icon>
      </md-button>
    </div>
    <h2>
      <span ng-bind="class.name"></span>
    </h2>
  </div>
</md-toolbar>

<div ng-controller="PhotoController as menuCtrl">
    <div ng-controller="PhotoController" ng-cloak>
      <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="100" layout="column">
          <md-card>
            <img ng-src="{{image.path}}" class="md-card-image">
            <md-card-actions layout="row" layout-align="space-between center">
              <md-card-title-text>
                <span class="md-title" ng-bind="image.title"/>
              </md-card-title-text>
              <div layout="column" layout-align="space-around center">
                  <md-switch id='ispublic' ng-model="image.isPublic" ng-disabled="checkEdit()" ng-change="onChange('isPublic')" aria-label="Público">{{((image.isPublic)? 'Público': 'Privado')}}</md-switch>
              </div>
            </md-card-actions>
            <md-card-content>
              <md-input-container layout>
                <label>Description</label>
                <textarea ng-disabled="checkEdit()" ng-change="onChange('description')" ng-model="image.description"></textarea>
              </md-input-container>
            </md-card-content>
            <md-card-footer layout="row" style="background-color: #D50000" ng-if="!checkEdit()" ng-click="delete()" layout-align="space-around center">
              <md-icon style="-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;">delete</md-icon>
            </md-card-footer>
          </md-card>
        </div>
      </md-content>
    </div>
</div>