<div ng-controller="PhotoController as menuCtrl">
    <!-- Toolbar -->
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <!-- Title -->
            <h2>
                <span>Class Pictures</span>
            </h2>
            <span flex=""></span>
        </div>
    </md-toolbar>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
      <md-button class="md-warn md-raised md-hue-2" ng-click="loginWithGoogleClick()">Logar com o Google</md-button>
    </section>

    <div ng-controller="PhotoController" ng-cloak>
      <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="100" layout="column">
          <md-card>
            <img ng-src="{{image.path}}" class="md-card-image" alt="{{image.alt}}">
            <md-card-actions layout="row" layout-align="space-between center">
              <md-card-title-text>
                <span class="md-headline" ng-bind="image.timestamp"/>
              </md-card-title-text>
              <div layout="column" layout-align="space-around center">
                  <md-tooltip md-direction="left">Público</md-tooltip>
                  <md-switch ng-model="image.isPublic" aria-label="Público"/>
              </div>
            </md-card-actions>
            <md-card-content>
              <span ng-bind="image.desc"/>
            </md-card-content>
          </md-card>
        </div>
      </md-content>
    </div>
</div>